body {
    background-color: black !important;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 35rem;
    width: 100%;
    overflow: hidden;
}

header h1 {
    color: white;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.navbar {
    color: white!important;
}

.highlight {
    color: #e41779 !important;
    border-color: #e41779 !important;
    font-size: 100px !important;
    font-weight: 800;
    font-family: "Vidaloka", serif;
}

.text-transform-none {
    text-transform: none !important;
}

.lightfont {
    color: #fff !important;
    font-size: 20px;
}

.text-block {
    color: #989898;
    font-size: 20px;
}

.section_header {
    text-transform: uppercase;
    letter-spacing: 0.34em;
    color: #e41779;
    font-size: 16px;
    font-family: "Vidaloka", serif;
    margin-bottom: 0;
}

.desc {
    text-transform: uppercase;
    letter-spacing: 0.34em;
    color: #fff;
    font-size: 12px;
    font-family: "Vidaloka", serif;
}

.fw-theme-signature .fw-signature-right-part {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fw-theme-signature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.theme_buttons.color1 a,
.theme_button.color1,
.button.alt,
.btn-accent {
    color: #fff;
    background-color: #e41779;
    border-color: #e41779;
    border-radius: 10px;
    text-decoration: none;
}

.wide_buttons a,
.wide_button {
    padding: 30px;
}

.theme_buttons a,
.theme_button,
.wc-proceed-to-checkout .checkout-button,
.buttons a,
button,
input[type="submit"] {
    font-family: "Vidaloka", serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.34em;
    padding: 22 px 28 px 22 px;
    margin-bottom: 8 px;
    line-height: 1;
    display: inline-block;
    text-align: center;
    color: #fff;
    border: 2 px solid #e41779;
    background-color: transparent;
    position: relative;
    -webkit-border-radius: 5 px;
    border-radius: 5 px;
    transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}

.theme_buttons.color1 a:before,
.theme_button.color1:before,
.button.alt:before,
.btn-accent:before {
    background-color: #e41779;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.theme_buttons a:before,
.theme_button:before,
.wc-proceed-to-checkout .checkout-button:before,
.buttons a:before,
button:before,
input[type="submit"]:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e41779;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0, 1);
    transform-origin: left center;
}

.img-fluid-1 {
    min-height: 100% !important;
}

img {
    max-width: 100%;
}

.gallery img {
    background: #fff;
    padding: 15px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#gallery-popup .modal-img {
    width: 100%;
}

.cont-ubella h3 {
    color: #e41779 !important;
}

.navbar-brand {
    color: #e41779 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem !important;
    font-weight: 900 !important;
}


/* contact form */

#contact {
    width: 100%;
    height: 100%;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}


/* Left contact page */

.form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
}

.form-control,
textarea {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}


/* Begin Right Contact Page */

.direct-contact-container {
    max-width: 400px;
}


/* Location, Phone, Email Section */

.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}


/* Social Media Icons */

.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #000;
}

.copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255, 255, 255, .6);
}


/* Begin Media Queries*/

@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
    .direct-contact-container,
    .form-horizontal {
        margin: 0 auto;
    }
    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }
    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {
    .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }
    .form-control,
    textarea {
        margin: 0 auto;
    }
    .name,
    .email,
    textarea {
        width: 280px;
    }
    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }
    .social-media-list {
        left: 0;
    }
    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}

h1.foot-ubella {
    font-size: 3rem;
    color: #f21182;
    font-family: auto;
}